/* main layout */

body {
    background-color: #a7f9db;
    margin: 0 auto;
}

body>header {
    grid-column: start / end;
}


/* header layout */

body>header {
    display: grid;
    grid-template-columns: auto 0fr 0fr 0fr;
    grid-template-rows: auto auto;
}

body>header .login {
    grid-column: 2;
    grid-row: 2;
}

body footer {
    background-color: #90EE90;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
