/* main layout */

body {
    background-color: #a7f9db;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body>header {
    padding: 10px 16px;
    position: relative;
    top: 0;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}


/* header layout */

body>header {
    display: grid;
    grid-template-columns: auto 0fr 0fr 0fr;
    grid-template-rows: auto auto;
}

body>header .login {
    grid-column: 4;
    grid-row: 1;
}


body footer {
    margin-top: auto;
    text-align: center;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    background-color: black;
    color: white;
    text-align: center;
}