/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.loginLink,
.registerLink {
    text-decoration: underline;
}

a:not(.loginLink),
a:not(.registerLink) {
    text-decoration: none;
    color: #2a2f33;
}

body a:hover {
    color: #c4cdca;
}


/* header */

body>header {
    color: #000;
    background-color: #fff;
}

body>header h1,
body>header h2 {
    margin: 0;
}

body>header #signup {
    margin-top: 1em;
}

body>header #signup a {
    padding: 0 1em;
}

body>header #signup a:first-child {
    padding-left: 0;
}


/* footer */

body>footer {
    background-color: #2a2f33;
    color: white;
    padding: 2em;
    height: 2.5em;
}

body>footer p {
    margin: 0;
}


/* fonts */

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');
body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Lora", serif;
    line-height: 1.4em;
}

body>header h2 {
    font-weight: normal;
}


/* Log in pop-up form */


/*body header .form-popup {box-sizing: border-box;}*/


/* Button used to open the contact form - fixed at the bottom of the page */

#logInButton {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    opacity: 0.8;
    width: 200px;
}

#logInButton:hover {
    background-color: #2a2f33;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Register message */

.form-popup p {
    font-size: small;
    margin: 0;
    margin-bottom: 0.1em;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/* navigation */


/* Scroll fix search bar */

.sticky {
    position: fixed;
    top: 0;
}

.sticky+.content {
    padding-top: 102px;
}

.topnav {
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    max-height: 550px;
    max-width: 100%;
    padding: 8px;
    border-radius: 15px;
    display: flex;
}

.topnav>input[type=text] {
    font-weight: bold;
    width: 140%;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
}

.topnav>select {
    font-weight: bold;
    width: 45%;
    border-radius: 5px;
    padding: 15px 20px;
}

.topnav>button {
    width: 17%;
}


/* Search Bar */


/* Logged in corner section of the header */

.userName {
    background-color: #fff;
    width: 20.5em;
    right: 0;
}

.userName a {
    text-decoration: none;
    color: #2a2f33;
}

#logoutNotOwner {
    position: absolute;
    right: 0;
    margin-right: 0.5em;
}

#logoutOwner {
    position: absolute;
    right: 180px;
}

#profileOwner {
    position: absolute;
    right: 250px;
    padding-top: 0.2em;
}

#profileNotOwner {
    position: absolute;
    right: 80px;
}

.userName button {
    background-color: #555;
    color: white;
    padding: 0.4em 0.5em;
    right: 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.userName button:hover {
    color: #2a2f33;
    background-color: #c4cdca;
}

#restRegister {
    position: absolute;
    margin-right: 0.5em;
    background-color: #555;
    padding: 0.4em 0.5em;
    right: 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

#restRegister a {
    color: white;
}

#restRegister:hover {
    background-color: #c4cdca;
}

#restRegister a:hover {
    color: #2a2f33;
}


/* Register in pop-up form */

#registerButton {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    opacity: 0.8;
    width: 200px;
}

#registerButton:hover {
    background-color: #2a2f33;
}


/* The popup form - hidden by default */

.form-popup-reg {
    display: none;
    position: fixed;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Register message */

.form-popup-reg p {
    font-size: small;
    margin: 0;
    margin-bottom: 0.1em;
}


/* Add styles to the form container */

.form-container-reg {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container-reg input[type=email],
.form-container-reg input[type=tel],
.form-container-reg input[type=text],
.form-container-reg input[type=password] {
    padding: 15px;
    width: 90%;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container-reg #state,
.form-container-reg #street,
.form-container-reg #name {
    margin-right: 1em;
}

.form-container-reg #state,
.form-container-reg #city,
.form-container-reg #postal-code,
.form-container-reg #street,
.form-container-reg #name,
.form-container-reg #phone {
    width: 45%;
    display: inline-block;
}


/* When the inputs get focus, do something */

.form-container-reg input[type=tel]:focus,
.form-container-reg input[type=email]:focus,
.form-container-reg input[type=text]:focus,
.form-container-reg input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container-reg .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container-reg .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container-reg .btn:hover,
.open-button:hover {
    opacity: 1;
}

.style-restaraunts {
    display: block;
}

.style-restaraunts>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.style-restaraunts>section>div {
    background-color: white;
    width: 25em;
    padding: 23px;
    border-radius: 15px;
}

.style-restaraunts>section>article {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 10px;
}


/* Description pop-up */

.restImageName {
    position: relative;
    text-align: center;
    color: #2a2f33;
}

a.restName {
    color: #2a2f33;
    background-color: #eecea5;
    width: 100%;
}

.restDesc {
    display: none;
    background-color: #2a2f33;
    opacity: 0.8;
    color: white;
}

.descClose,
.descOpen {
    color: white;
    background-color: #000;
    opacity: 0.8;
}

.descClose {
    display: none;
    padding-right: 0.4em;
    padding-left: 0.4em;
}

.descOpen {
    display: block;
}


/************************/


/* Go to the top button */

#goToTop {
    background-color: #2a2f33;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#goToTop:hover {
    background-color: #555;
    color: white;
}


/************************/

.comment-section {
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
